# =========================
# PYTHON
# =========================

__pycache__/
*.py[cod]
*$py.class

# =========================
# VIRTUAL ENV
# =========================

venv/
.env/
.venv/

# =========================
# ENV VARIABLES
# =========================

.env
.env.local
.env.development
.env.production

# =========================
# DATABASE
# =========================

*.db
*.sqlite3

# =========================
# LOGS
# =========================

*.log
logs/

# =========================
# TESTS / CACHE
# =========================

.pytest_cache/
.mypy_cache/
.ruff_cache/
coverage/
htmlcov/

# =========================
# IDE
# =========================

.vscode/
.idea/

# =========================
# OS FILES
# =========================

.DS_Store
Thumbs.db

# =========================
# BUILD
# =========================

dist/
build/

# =========================
# JUPYTER
# =========================

.ipynb_checkpoints/

# =========================
# FASTAPI
# =========================

*.pid

# =========================
# TORCH / HF CACHE
# =========================

.huggingface/
.cache/

# =========================
# CHROMADB
# =========================

chroma/
chromadb/

# =========================
# UPLOADS
# =========================

uploads/
temp/
tmp/